@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --dark-color: #141414;
  --light-color: #ede7d9;
  --secondary-color: #e2b13c;
  --btn-color: #141414;
  --btn-hover-color: #e4cc96;
  --light-gray: #a49694;
  --dark-gray: #736b60;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
}
h1::selection,h2::selection,h3::selection,h4::selection,p::selection{
  text-shadow: 1px 1px 5px #9b9b9b;
  background-color: #141414;
  color:white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-size: 32px;
}
h2{
  font-size: 26px;
  font-family: 'Oswald', serif;
}
h3{
  font-size: 22px;
  font-family: 'Oswald', serif;
}
h4{
  font-size: 20px;
  font-family: 'Oswald', serif;
}
input{
  border: 1px solid gray;
  padding: 4px;
  margin: 4px;
}
p{
  font-family: 'Roboto', serif;
}
.nav{
  background-color: var(--dark-color);
  height: 70px;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 #473517;
}
.logo{
  display: flex;
  align-items: center;
}
.logo-icon{
  color: var(--secondary-color);
  font-size: 34px;
  padding-right: 2px;
  text-shadow: 0 0 10px #665a3f;
}
.logo h1{
  font-family: 'Oswald', serif;
  font-size: 36px;
  color: var(--secondary-color);
  text-shadow: -2px 1px 5px #665a3f;
}
.nav-list{
  align-items: center;
}
.nav-item{
  padding-left: 18px;
}
.nav-link{
  color: var(--secondary-color);
  font-family: 'Roboto', serif;
  font-size: 18px;
  padding: 4px 0;
}
.nav-link:hover{
  color: var(--light-gray);
  text-shadow: 0 0 2px #665a3f;
  transition: 0.1s;
}
.nav-btn, .add-btn, .submit-btn, .btn{
  background-color: var(--btn-color);
  color: var(--secondary-color);
  border: 1px solid var(--btn-color);
  font-size: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 5px #14141469;
  text-align: center;
  padding: 4px 12px;
}
.nav-button{
  border: 1px solid var(--dark-color);
}
.nav-btn:hover{
  border: 1px solid var(--secondary-color)
}
.submit-btn{
  width: min-content;
}
.nav-btn:hover, .add-btn:hover, .submit-btn:hover, .btn:hover{
  background-color: var(--btn-hover-color);
  border: 1px solid var(--dark-color);
  color: var(--dark-color) ;
  transition: 0.1s;
  box-shadow: 0 2px 5px #332f2569;
}
.active-nav{
  color: red;
}
.page-list{
  margin: 20px auto;
  width: 90%;
  padding: 0 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.page-list-item{
  padding: 10px 20px 20px 0;
  margin: 0 20px 0 20px;
  width: 300px;
  border-bottom: 1px solid #141414;
}
.page-list-item img{
  margin-top: 10px;
}
.goal-list h2{
  font-size: 32px;
  margin-left: 20px;
  text-decoration: underline;
}
.goal-list-item{
  padding-bottom: 30px;
  padding-right: 10px;
}
.dropdown{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 40px;
}
.dropdown-list{
  display: none;
  position: absolute;
  margin-top: 40px;
  width: 150px;
  box-shadow: 2px 8px 16px 0px rgba(59, 50, 17, 0.2);
  background-color: wheat;
  border-radius: 8px;
}
.dropdown-list.active{
  display: block;
}
.dropdown-item{
  overflow: hidden;
  padding: 6px;
  padding-left: 6px;
  cursor: pointer;
  outline: none;
  box-shadow: inset 1px 0 2px 0 rgba(206, 186, 149, 0.541);
}
.border-top{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1px solid #aa8e4d;
}
.border-bottom{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.dropdown-item:hover{
  background-color: #ebcb82;
  transition: 0.1s;
}
.profile-icon{
  color: var(--secondary-color);
  font-size: 36px;
  cursor: pointer;
  outline: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.profile-icon:hover{
  color: var(--light-gray);
  transition: 0.1s;
}
.profile-form{
  font-family: 'Roboto', serif;
}
.profile-form .input-label{
  font-weight: bold;
}
.profile-form input{
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  max-width: 300px;
  margin-bottom: 10px;
  padding-left: 6px;
}
.profile-form input[type=text]{
  font-family: 'Oswald', serif;
  font-size: 18px;
}
.profile-form input:focus{
  border-bottom: 1px solid rgb(6, 172, 14);
  background-color: #e4cc96;
  border-radius: 2px;
}
.profile-form .submit-btn{
  margin: 10px 0;
}
.category-box{
  width: 16px;
  height: 16px;
}
/*container for each image*/
.exercise-item
{
  width: 200px;
}
.exercise-image
{
  max-width: 100%;
  image-rendering: -moz-crisp-edges;
}
